asgiref==3.8.1
certifi==2024.2.2
charset-normalizer==3.3.2
diff-match-patch==20230430
Django==5.0.6
django-background-tasks==1.2.5
django-cleanup==8.1.0
django-compat==1.0.15
django-import-export==4.0.7
django-jalali-date==1.1.2
idna==3.7
jalali_core==1.0.0
jdatetime==5.0.0
pillow==10.3.0
requests==2.32.2
six==1.16.0
sqlparse==0.5.0
tablib==3.5.0
tzdata==2024.1
urllib3==2.2.1
asgiref==3.8.1
certifi==2024.2.2
charset-normalizer==3.3.2
diff-match-patch==20230430
Django==5.0.6
django-background-tasks==1.2.5
django-cleanup==8.1.0
django-compat==1.0.15
django-import-export==4.0.7
django-jalali-date==1.1.2
idna==3.7
jalali_core==1.0.0
jdatetime==5.0.0
pillow==10.3.0
requests==2.32.2
six==1.16.0
sqlparse==0.5.0
tablib==3.5.0
tzdata==2024.1
urllib3==2.2.1
