{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/signUp.css' %}">
    <title>ثبـت نام</title>
</head>
<body>
<div class="container">
    <div class="LeftPart">
        <div class="InnerWrapper">
            <div class="text">
                <h1>خوش آمدید</h1>
                <p>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
                    استفاده از طراحان گرافیک است،
                </p>
            </div>
        </div>
        <div class="top-right-circle"></div>
        <div class="dot1"></div>
        <div class="top-left-circle"></div>
        <div class="dot2"></div>
        <div class="bottom-circle"></div>
        <div class="Rectangle"></div>
        <div class="Rectangle1"></div>
        <div class="Rectangle2"></div>
        <div class="Rectangle3"></div>
        <div class="Rectangle4"></div>
        <div class="Rectangle5"></div>
        <div class="Rectangle6"></div>
        <div class="Rectangle7"></div>
        <div class="Rectangle8"></div>
    </div>
    <div class="RightPart">
        <h1 class="font">ثبت نام</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.fullname }}
            {% for error in form.fullname.errors %}
                <label for="IDcode">{{ error }}</label>
            {% endfor %}
            {{ form.phone_number }}
            {% for error in form.phone_number.errors %}
                <label for="IDcode">{{ error }}</label>
            {% endfor %}
            {{ form.password1 }}
            {% for error in form.password1.errors %}
                <label for="IDcode">{{ error }}</label>
            {% endfor %}
            {{ form.password2 }}
            {% for error in form.password2.errors %}
                <label for="IDcode">{{ error }}</label>
            {% endfor %}


            {#            <input dir="rtl" lang="fa" type="text" id="IDcode" placeholder="نام و نام خانوادگی">#}
            <!-- <label for="PhoneNumber">شماره تلفن نامعتبر است</label> -->
            {#            <input dir="rtl" type="number" id="PhoneNumber" placeholder="شماره تلفن">#}
            <!-- <label for="email">ایـمیـل نامعتبر است</label> -->
            {#            <input dir="rtl" type="email" id="email" placeholder="ایـمیـل">#}
            <!-- <label for="password">رمز عبور نامعتبر است</label> -->
            {#            <input dir="rtl" id="password" type="password" placeholder="رمز ورود">#}
            <!-- <label for="Repeatpassword">رمز عبور و نکرار آن با یکدیگر مطابقت ندارد</label> -->
            {#            <input dir="rtl" type="password" id="passwrd" placeholder="تکرار رمز ورود">#}
            <button type="submit">ورود</button>
            <a href="{% url 'account:login' %}" class="Login">رفتن به صفحه <span>ورود</span></a>
        </form>

    </div>
</div>
</body>
</html>