@font-face {
  font-family: "BYekan+";
  src: url(../fonts/BYekan+.ttf);
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: whitesmoke;
}
.wrapper {
  width: 100svw;
  height: 100svh;
  top: 0;
  left: 0;
  position: relative;
  background-color: whitesmoke;
}
.wrapper aside {
  position: fixed;
  right: 0;
  top: 0;
  height: 100svh;
  width: 15svw;
  border: none;
  /* background-color: #0f66dc; */
  background: rgb(43, 62, 177);
  background: linear-gradient(
    135deg,
    rgba(43, 62, 177, 1) 0%,
    rgba(35, 82, 198, 1) 53%,
    rgba(15, 102, 220, 1) 100%
  );
  display: flex;
  flex-direction: column;
}
aside div {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.change {
  color: white;
  margin-top: 5px;
  margin-bottom: 20px;
  font-family: "BYekan+";
  transition: 0.3s;
  margin-bottom: 60px;
}
.change:hover{
  transform: scale(1.08);
}
.SideCard {
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(43, 62, 177);
  background-color: white;
  width: 85%;
  text-align: center;
  height: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 4px;
  transition: 0.4s;
  cursor: pointer;
}
.SideCard:hover{
  transform: scale(1.05);
}
.SideCard a {
  color: white;
  font-family: "BYekan+";
}
.SideCard{
  background: none;
}
a {
  text-decoration: none;
}
aside {
  color: white;
}
aside div h1 {
  color: white;
  font-family: "BYekan+";
}
nav {
  width: 85%;
  background-color: white;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: sticky;
  content: "";
  top: 0;
  justify-content: space-between;
}
.links a {
  color: black;
  font-family: "BYekan+";
  text-decoration: none;
  margin-right: 6%;
  margin-left: 10%;
  font-size: 18px;
  transition: 0.4s;
}
.links a:hover {
  transform: scale(1.08);
}
.links{
  width: 50%;
}
button{
  cursor: pointer;
}
.dropDown ,.mob{
  display: flex;
  flex-direction: column;
  /* margin-top: 120px; */
  width: 200px;
}
.dropDownButton{
  background-color: white;
  border: none;
  font-family: "BYekan+";
  width: 100px;
  height: 51px;
  font-size: 16px;
  transition: 0.4s;
}
.dropDownButton:hover{
  transform: scale(1.03);

}
.dropDownLinks{
  color: black;
  font-family: "BYekan+";
  text-decoration: none;
  font-size: 15px;

}
.dropDown div , .mob div{
  width: 100px;
  border-bottom: 1px solid black;
  background-color: rgba(245, 245, 245, 0.879);
  height: 40px;
  display: none;
}
.dropDown div:last-of-type , .mob div:last-of-type{
  border: none;
}
.dropDown div:first-of-type , .mob div:first-of-type{
  border-top: 1px solid black;
}
.mob{
  display: none;
}
.container {
  margin-left: 0px;
  margin-right: -150px;
  /* margin-right: 45px; */
  /* margin-bottom: 40px; */
  --color: #020202;
  --size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-size: var(--size);
  user-select: none;
  fill: var(--color);
}
svg{
  margin-top: 55px;
}
.container .bell-regular {
  position: absolute;
  animation: keyframes-fill .5s;
}
.container .bell-solid {
  position: absolute;
  display: none;
  animation: keyframes-fill .5s;
}
.container input:checked ~ .bell-regular {
  display: none;
}
.container input:checked ~ .bell-solid {
  display: block;
}
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
nav{
  box-shadow: 0 3px 6px 1px rgb(143, 143, 143);
}
@keyframes keyframes-fill {
  0% {
    opacity: 0;
  }

  25% {
    transform: rotate(25deg);
  }

  50% {
    transform: rotate(-20deg) scale(1.2);
  }

  75% {
    transform: rotate(15deg);
  }
}
.leftSide{
  display: flex;
  flex-direction: row;
}
.card{
  padding: 8px;
  background-color: white;
  box-shadow: 0 3px 6px 1px rgb(143, 143, 143);
  width: 28svw;
  height: 300px;
  font-family: "BYekan+";
  display: flex;
  border-radius: 10px;
  flex-direction: column; 
}
.NameImage div img{
  width: 120px;
  height:120px;
  border-radius: 6px;
  margin-right: 6px;
}
.NameImage{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.NameImage h1{
  font-size: 20px;
  text-align: right;
  width: 90%;
  margin-left: 5%;
}
.NameImage h2{
  margin-left: 5%;
  font-weight: 300;
  font-size: 20px;
  width: 90%;
  text-align: right;
  /* margin-left: 20px; */
}
.date{
  font-size: 11px;
  margin-left: 4px;
  margin-top: 4px;
  color: #c6c5c5;
}
.Infos{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.Infos div{
  display: flex;
  flex-direction: column;
}
.Infos > h3{
  color: #0f66dc;
  font-family: "BYekan+";
  font-weight: 300;
  font-size: 15px;
  margin-right: 7px;
}
.Infos div h3{
  color: #c6c5c5;
  font-size: 13px;
  text-align: center;
}
.Buttons{
  margin-top: 40px;
  width: 96%;
  margin-right: 6%;
}
.Buttons button{
  width: 45%;
  height: 45px;
  font-family: "BYekan+";
  font-size: 15px;
}
.Buttons button:first-of-type{
  background-color: whitesmoke;
  border: 2px solid #0f66dc;
  border-radius: 3px;
  color: #0f66dc;
  margin-right: 2px;
}
.Buttons button:last-of-type{
  background-color: #0c54b8;
  border: none;
  width: 45%;
  border-radius: 3px;
  height: 45px;
  color: white;
}
.Buttons button:hover{
  transform: scale(1.03);
}
.Buttons button:focus{
  transform: scale(1.02);
}
main{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  gap: 20px;
  width: 60%;
  margin-left: 10%;
  margin-top: 30px;
}
.Active{
  background-color: white;
}
.Active a{
  color: #0f66dc;
}
@media screen and (max-width:810px) {
  .wrapper aside{
    width: 20svw;
  }
  .links{
    width: 70%;
  }
  .links a:first-of-type{
    margin-right: 25px;
  }
  nav{
    width: 80svw;
  }
  main{
    margin-left: 10svw;
  }
}
@media screen and (max-width:630px) {
  .leftSide{
    display: none;
    
  }
  .links{
      width: 100%;
  }
  .wrapper aside{
    width: 25svw;
  }
  nav{
    width: 75svw;
  }
  main{
    margin-left: 6svw;
  }
}
@media screen and (max-width:570px) {
  .wrapper aside{
    display: none;
  }
  nav{
    width: 100%;
  }
  main{
    width: 90svw;
    margin-left: 3.5svw;
  }
  .mob{
    display: flex;
    margin-top: 0px;
  }
  .mob div{
    display: none;
  }
}
@media screen and (max-width:425px) {
.links a{
  font-size: 15px;
}
}
@media screen and (max-width:400px) {
.mob{
  margin-left: -40px;
}
}
@media screen and (max-width:950px) {
  .card{
    width: 35svw;
  }
  main{
    margin-left: 3%;
    gap:20px 80px;
  }
}
@media screen and (max-width:800px){
  main{
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-columns: 100%;
    margin-left: 12.5%;
  }
  .card{
    height: 350px;
    width: 50svw;
  }
}
@media screen and (max-width:570px) {
  .card{
    width: 80svw;
  }
  main{
    margin-left: 6svw;
  }
}