@font-face {
  font-family: "BYekan+";
  src: url(../fonts/BYekan+.ttf);
}
@font-face {
  font-family: "myrad";
  src: url(../fonts/MyriadArabicRegular.ttf);
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: whitesmoke;
}
.wrapper {
  width: 100svw;
  height: 100svh;
  top: 0;
  left: 0;
  position: relative;
  background-color: whitesmoke;
}
.wrapper aside {
  position: fixed;
  right: 0;
  top: 0;
  height: 100svh;
  width: 15svw;
  border: none;
  /* background-color: #0f66dc; */
  background: rgb(43, 62, 177);
  background: linear-gradient(
    135deg,
    rgba(43, 62, 177, 1) 0%,
    rgba(35, 82, 198, 1) 53%,
    rgba(15, 102, 220, 1) 100%
  );
  display: flex;
  flex-direction: column;
}
aside div {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.change {
  color: white;
  margin-top: 5px;
  margin-bottom: 20px;
  font-family: "BYekan+";
  transition: 0.3s;
  margin-bottom: 60px;
}
.change:hover{
  transform: scale(1.08);
}
.SideCard {
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(43, 62, 177);
  background-color: white;
  width: 85%;
  text-align: center;
  height: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 4px;
  transition: 0.4s;
  cursor: pointer;
}
.SideCard:hover{
  transform: scale(1.05);
}
.SideCard a {
  color: white;
  font-family: "BYekan+";
}
.SideCard{
  background: none;
}
a {
  text-decoration: none;
}
aside {
  color: white;
}
aside div h1 {
  color: white;
  font-family: "BYekan+";
}
nav {
  width: 85%;
  background-color: white;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: sticky;
  content: "";
  top: 0;
  justify-content: space-between;
}
.links a {
  color: black;
  font-family: "BYekan+";
  text-decoration: none;
  margin-right: 6%;
  margin-left: 10%;
  font-size: 18px;
  transition: 0.4s;
}
.links a:hover {
  transform: scale(1.08);
}
.links{
  width: 50%;
}
button{
  cursor: pointer;
}
.dropDown ,.mob{
  display: flex;
  flex-direction: column;
  /* margin-top: 120px; */
  width: 200px;
}
.dropDownButton{
  background-color: white;
  border: none;
  font-family: "BYekan+";
  width: 100px;
  height: 51px;
  font-size: 16px;
  transition: 0.4s;
}
.dropDownButton:hover{
  transform: scale(1.03);

}
.dropDownLinks{
  color: black;
  font-family: "BYekan+";
  text-decoration: none;
  font-size: 15px;

}
.dropDown div , .mob div{
  width: 100px;
  border-bottom: 1px solid black;
  background-color: rgba(245, 245, 245, 0.411);
  height: 40px;
  display: none;
}
.dropDown div:last-of-type , .mob div:last-of-type{
  border: none;
}
.dropDown div:first-of-type , .mob div:first-of-type{
  border-top: 1px solid black;
}
.mob{
  display: none;
}
.container {
  margin-left: 0px;
  margin-right: -150px;
  /* margin-right: 45px; */
  /* margin-bottom: 40px; */
  --color: #020202;
  --size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-size: var(--size);
  user-select: none;
  fill: var(--color);
}
svg{
  margin-top: 55px;
}
.container .bell-regular {
  position: absolute;
  animation: keyframes-fill .5s;
}
.container .bell-solid {
  position: absolute;
  display: none;
  animation: keyframes-fill .5s;
}
.container input:checked ~ .bell-regular {
  display: none;
}
.container input:checked ~ .bell-solid {
  display: block;
}
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
nav{
  box-shadow: 0 3px 6px 1px rgb(143, 143, 143);
}
@keyframes keyframes-fill {
  0% {
    opacity: 0;
  }

  25% {
    transform: rotate(25deg);
  }

  50% {
    transform: rotate(-20deg) scale(1.2);
  }

  75% {
    transform: rotate(15deg);
  }
}
.leftSide{
  /* display: flex; */
  /* flex-direction: row; */
  /* display: none; */
  display: block;
  font-family: "BYekan+";
  font-size: 20px;
}


main form{
}
main{
  box-sizing: border-box;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% - 35%);
  margin-left: 10%;
  margin-top: 60px;
  background-color: white;
  border-radius: 6px;
  box-shadow: 1px 1px 8px 5px gray;
  margin-bottom: 200px;
  overflow-x: auto;
  height: 90svh;
  overflow-y: auto;
  padding-top:900px;
}
main::-webkit-scrollbar{
  width: 5px;
}

main::-webkit-scrollbar-track{
  background-color: #ddd;
}
main::-webkit-scrollbar-thumb{
  background-color: #2b3eb1;
}
main div{
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 20px;
  justify-content: space-around;
  font-family: "myrad";
  border-bottom: 2px solid rgb(170, 170, 170);
  padding-bottom: 20px;
  text-align: center;
  align-items: center;
  width: 100%;
}
main h1{
  margin-bottom: 50px;
  font-family: "BYekan+";
}

main div input ,select{
  /* margin-left: 10px; */
  /* margin-right: 10px; */
  width: 150px;
  height: 30px;
  box-sizing: border-box;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 2px 2px 2px gray ;
  font-family: "BYekan+";

}
main div textarea{
  width: 200px;
  height: 180px;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 2px 2px 2px gray ;
  margin-left: 10px;
  margin-right: 10px;
  font-family: "BYekan+";
}
main form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main form button{
  width: 180px;
  height: 40px;
  margin-bottom: 20px;
  text-align: center;
  color: white;
  background-color: #94dbd4;
  border-radius: 8px;
  border: none;
  font-family: "BYekan+";
  font-size: 20px;
  justify-self: center;
}

@media screen and (max-width:810px) {
  .wrapper aside{
    width: 20svw;
  }
  .links{
    width: 70%;
  }
  .links a:first-of-type{
    margin-right: 25px;
  }
  nav{
    width: 80svw;
  }
}
@media screen and (max-width:630px) {
  .leftSide{
    display: none;
    
  }
  .links{
    width: 100%;
  }
  .wrapper aside{
    width: 25svw;
  }
  nav{
    width: 75svw;
  }
}
@media screen and (max-width:570px) {
  .wrapper aside{
    display: none;
  }
  nav{
    width: 100%;
  }
  .mob{
    display: flex;
    margin-top: 0px;
  }
  .mob div{
    display: none;
  }
}