{% load static %}
{% load money_converter %}
<div class="Cards">
    {% for course in courses %}
        <div class="card">
            <img src="{{ course.banner.url }}" alt=""/>
            <div>
                <h1>{{ course.course_name }}</h1>
                <div>
                    <div>
                        <p>تاریخ شروع</p>
                        <p>{{ course.jalali_date_starter }}</p>
                    </div>
                    <h2>استاد:{{ course.teacher }} </h2>
                </div>
                <div>
                    <div class="OnSale"></div>

                    {% if course.price_with_off != course.price and course.price_with_off %}
                        <h2 class="takhfif">  {{ course.price|money }} تومان </h2>
                        <h2>  {{ course.price_with_off|money }} تومان </h2>
                    {% else %}
                        <h2>  {{ course.price|money }} تومان </h2>
                    {% endif %}
                    <button type="button" class="basket-button" data-course-id="{{ course.id }}"></button>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
