{% load static %}
{% load money_converter %}
<div dir="rtl" class="Cards">
    {% for course in courses %}
        <div class="card">
            {% if course.banner %}
                <img src="{{ course.banner.url }}" alt="{{ course.course_name }}"/>
            {% else %}
                <p>No image available</p>
            {% endif %}
            <div>
                <h1>{{ course.course_name }}</h1>
                <div>
                    <div>
                        <p>تاریخ شروع</p>
                        <p>{{ course.jalali_date_starter }}</p>
                    </div>
                    <h2>استاد:{{ course.teacher }} </h2>
                </div>

                {% if course.price_with_off != course.price and course.price_with_off %}
                    <div class="price" dir="rtl">
                        <button type="button" class="basket-button" data-course-id="{{ course.id }}"></button>
                        <div class="OnSale">
                            <h2 class="takhfif">  {{ course.price|money }} </h2>
                            <h2>  {{ course.price_with_off|money }} تومان </h2>
                        </div>
                    </div>
                {% else %}
                    <div dir="rtl">
                        <button type="button" class="basket-button" data-course-id="{{ course.id }}"></button>
                        <h2>  {{ course.price|money }} تومان </h2>
                    </div>
                {% endif %}


            </div>
        </div>
    {% endfor %}
</div>
