{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://use.typekit.net/xoy1pfn.css"/>
    <link rel="stylesheet" href="{% static 'css/Login.css' %}"/>
    <title> ورود با شماره تماس</title>
</head>
<body>
<div class="container">
    <div class="LeftPart">
        <div class="InnerWrapper">
            <div class="text">
                <h1>خوش آمدید</h1>
                <p>
                    {{ welcome_text }}
                </p>
            </div>
        </div>
        <div class="top-right-circle"></div>
        <div class="dot1"></div>
        <div class="top-left-circle"></div>
        <div class="dot2"></div>
        <div class="bottom-circle"></div>
        <div class="Rectangle"></div>
        <div class="Rectangle1"></div>
        <div class="Rectangle2"></div>
        <div class="Rectangle3"></div>
        <div class="Rectangle4"></div>
        <div class="Rectangle5"></div>
        <div class="Rectangle6"></div>
        <div class="Rectangle7"></div>
        <div class="Rectangle8"></div>
    </div>
    <div class="RightPart">
        <h1 class="font">ورود</h1>
        <form method="post">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <label>{{ form.non_field_errors }}</label>
            {% endif %}

            {{ form.phone_number }}
            {% if form.phone_number.errors %}
                <label>{{ form.phone_number.errors }}</label>
            {% endif %}


            <button type="submit">ورود</button>
        </form>
    </div>
</div>
</body>
</html>
