{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="{% static "css/ForgotPass.css" %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>تایید صلاحیت</title>
</head>
<body>
<div class="forgotPass" id="forgotPass">
    <h1>کد تایید صلاحیت را وارد کنید</h1>

    <form method="post">
        {% csrf_token %}
        <div>
            {% for error in errors %}
                <h1 style="color: white;background-color: red">{{ error }}</h1>
            {% endfor %}

            <input name="1" type="tel" maxlength="1" class="number">
            <input name="2" type="tel" maxlength="1" class="number">
            <input name="3" type="tel" maxlength="1" class="number">
            <input name="4" type="tel" maxlength="1" class="number">
        </div>
        <button type="submit">ورود</button>

    </form>
    <a href="{% url 'account:authenticatePhone' %}">دوباره ارسال کنید</a>
</div>
<script src="{% static 'JS/forgotPass.js' %}"></script>
</body>
</html>
