{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/signUp.css' %}">
    <title>ثبـت نام</title>
</head>
<body>
<div class="container">
    <div class="LeftPart">
        <div class="InnerWrapper">
            <div class="text">
                <h1>خوش آمدید</h1>
                <p>
                    {{ welcome_text }}
                </p>
            </div>
        </div>
        <div class="top-right-circle"></div>
        <div class="dot1"></div>
        <div class="top-left-circle"></div>
        <div class="dot2"></div>
        <div class="bottom-circle"></div>
        <div class="Rectangle"></div>
        <div class="Rectangle1"></div>
        <div class="Rectangle2"></div>
        <div class="Rectangle3"></div>
        <div class="Rectangle4"></div>
        <div class="Rectangle5"></div>
        <div class="Rectangle6"></div>
        <div class="Rectangle7"></div>
        <div class="Rectangle8"></div>
    </div>
    <div class="RightPart">
        <h1 class="font">ثبت نام</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="non-field-errors">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            <div class="form-group">
                {{ form.phone_number }}
                {% if form.phone_number.errors %}
                    <div class="field-error">
                        {{ form.phone_number.errors }}
                    </div>
                {% endif %}
            </div>
            <!-- Repeat for all other fields -->
            <div class="form-group">
                {{ form.password1 }}
                {% if form.password1.errors %}
                    <div class="field-error">
                        {{ form.password1.errors }}
                    </div>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.password2 }}
                {% if form.password2.errors %}
                    <div class="field-error">
                        {{ form.password2.errors }}
                    </div>
                {% endif %}
            </div>
            <button type="submit">ورود</button>
            <a href="{% url 'account:login' %}" class="Login">رفتن به صفحه <span>ورود</span></a>
        </form>
    </div>
</div>
</body>
</html>
