{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{% static 'css/basket.css' %}"/>
    <title>سبد خرید </title>
</head>
<body>
<div class="wrapper">
    <nav dir="rtl">
        <div dir="rtl" class="links">
            <a href="{% url 'home:home' %}">خانه</a>
            <a href="">دوره ها</a>
            <a href="">کتابخانه</a>
        </div>

        <div class="leftSide">
            اندیشه پارسیان
        </div>
        <div class="mob">
            <button onclick="dropdown2()" class="dropDownButton">
                پنل کاربری
            </button>
            <div>
                <a href="{% url 'panel:course' %}" class="dropDownLinks">دوره ها</a>
            </div>
            <div>
                <a href="{% url 'panel:lastOrder' %}" class="dropDownLinks"
                >تراکنش های اخیر</a
                >
            </div>
            <div><a href="{% url 'panel:basket' %}" class="dropDownLinks">سبد خرید</a></div>
            {% if request.user.user_student.is_information_submited %}
                <div class="SideCard"><a href="{% url 'home:home' %}">اطلاعات کاربر</a></div>
            {% else %}
                <div class="SideCard"><a href="{% url 'panel:userInfo' %}">تکمیل اطلاعات کاربری</a></div>
            {% endif %}
        </div>
    </nav>
    <aside>
        <div>
            <img src="{% static 'images/account.png' %}" alt=""/>
            {% if request.user.first_name %}
                <h1>{{ request.user.first_name }}</h1>
            {% else %}
                <h1>{{ request.user.user_student.username }}</h1>
            {% endif %}
            <a href="" class="change">ویرایش اکانت</a>
            <div class="SideCard">
                <a href="{% url 'panel:course' %}">دوره ها</a>
            </div>
            <div class="SideCard">
                <a href="{% url 'panel:lastOrder' %}">تراکنش های اخیر</a>
            </div>
            <div class="SideCard Active"><a href="{% url 'panel:basket' %}">سبد خرید</a></div>
            {% if request.user.user_student.is_information_submited %}
                <div class="SideCard"><a href="{% url 'home:home' %}">اطلاعات کاربر</a></div>
            {% else %}
                <div class="SideCard"><a href="{% url 'panel:userInfo' %}">تکمیل اطلاعات کاربری</a></div>
            {% endif %}
            {% if request.user.user_student.super_student_user %}
                <div class="SideCard"><a href="">ثبت نام در مدرسه</a></div>
                {% comment %}   todo --> change href and create panel for that
                {% endcomment %}
            {% endif %}


            <br>
            <br>
            <br>
            <div class="SideCard Active" style="background-color: #ff3939"><a style="color: white;font-weight: bold"
                                                                              href="{% url 'account:logout' %}">خروج</a>
            </div>
        </div>
    </aside>
    <div class="MainContent">
        <main>
            <div>
                <h1>سبد خرید</h1>
                <table dir="rtl">
                    <tr>
                        <th>تاریخ ثبت</th>
                        <th>قیمت</th>
                        <th>نام آیتم</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>03/03/1403</td>
                        <td>1 میلیون تومان</td>
                        <td>جمع بندی فیزیک</td>
                        <td>
                            <button>+</button>
                            <button>-</button>
                        </td>
                    </tr>
                    <tr>
                        <td>03/03/1403</td>
                        <td>1 میلیون تومان</td>
                        <td>جمع بندی فیزیک</td>
                        <td>
                            <button>+</button>
                            <button>-</button>
                        </td>
                    </tr>
                    <tr>
                        <td>03/03/1403</td>
                        <td>1 میلیون تومان</td>
                        <td>جمع بندی فیزیک</td>
                        <td>
                            <button>+</button>
                            <button>-</button>
                        </td>
                    </tr>
                    <tr>
                        <td>03/03/1403</td>
                        <td>1 میلیون تومان</td>
                        <td>جمع بندی فیزیک</td>
                    </tr>
                    <tr>
                        <td>03/03/1403</td>
                        <td>1 میلیون تومان</td>
                        <td>جمع بندی فیزیک</td>
                    </tr>
                    <tr>
                        <td>03/03/1403</td>
                        <td>1 میلیون تومان</td>
                        <td>جمع بندی فیزیک</td>
                    </tr>
                    <tr>
                        <td>03/03/1403</td>
                        <td>1 میلیون تومان</td>
                        <td>جمع بندی فیزیک</td>
                    </tr>
                    <tr>
                        <td>03/03/1403</td>
                        <td>1 میلیون تومان</td>
                        <td>جمع بندی فیزیک</td>
                    </tr>
                    <tr>
                        <td>03/03/1403</td>
                        <td>1 میلیون تومان</td>
                        <td>جمع بندی فیزیک</td>
                    </tr>
                    <tr>
                        <td>03/03/1403</td>
                        <td>1 میلیون تومان</td>
                        <td>جمع بندی فیزیک</td>
                    </tr>
                    <tr>
                        <td>03/03/1403</td>
                        <td>1 میلیون تومان</td>
                        <td>جمع بندی فیزیک</td>
                    </tr>
                    <tr>
                        <td>03/03/1403</td>
                        <td>1 میلیون تومان</td>
                        <td>جمع بندی فیزیک</td>
                    </tr>
                    <tr>
                        <td>03/03/1403</td>
                        <td>1 میلیون تومان</td>
                        <td>جمع بندی فیزیک</td>
                    </tr>
                </table>
            </div>
        </main>
        <div class="Sabad">
            <div>
                <h1><span>77700</span>قیمت دوره ها</h1>
            </div>
            <div class="sood">
                <div class="text"><p>سود شما</p></div>
                <div class="sale"><p>5000</p></div>
            </div>
            <div>
                <h1>قابل پرداخت</h1>
                <h2>199,000</h2>
                <form>
                    <button type="submit">پرداخت</button>
                    <label for="codeTakhfif">کد تخفیف</label>
                    <input type="text" id="codeTakhfif" name="codeTakhfif"/>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="assets/JS/basket.js"></script>
</body>
</html>
