{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{% static 'css/BoughtCourses.css' %}"/>
    <title>Panel</title>
</head>
<body>
<div class="wrapper">
    {% include 'panel/navbar.html' %}
    {% include 'panel/aside.html' %}
    <main>
        <div class="card">
            <h4 class="date">1403/03/07</h4>
            <div class="NameImage">
                <div><img src="{% static 'images/course.jpg' %}" alt=""/></div>
                <div>
                    <h1>دوره ی فیزیک</h1>
                    <h2>
                        لورم ایپسوم متن ساختگی با تقلید سادگی نامغهوم از صنعت چاپ و با
                    </h2>
                </div>
            </div>
            <div class="Infos">
                <h3>مدرس : استاد</h3>
                <div>
                    <h3>قسط پرداخت شده : 10</h3>
                    <h3>قسط باقی مانده : 30</h3>
                </div>
            </div>
            <div class="Buttons">
                <button>پرداخت قسط</button>
                <button>ادامه ی دوره</button>
            </div>
        </div>

        <div class="card">
            <h4 class="date">1403/03/07</h4>
            <div class="NameImage">
                <div><img src="{% static 'images/course.jpg' %}" alt=""/></div>
                <div>
                    <h1>دوره ی فیزیک</h1>
                    <h2>
                        لورم ایپسوم متن ساختگی با تقلید سادگی نامغهوم از صنعت چاپ و با
                    </h2>
                </div>
            </div>
            <div class="Infos">
                <h3>مدرس : استاد</h3>
                <div>
                    <h3>قسط پرداخت شده : 10</h3>
                    <h3>قسط باقی مانده : 30</h3>
                </div>
            </div>
            <div class="Buttons">
                <button>پرداخت قسط</button>
                <button>ادامه ی دوره</button>
            </div>
        </div>

        <div class="card">
            <h4 class="date">1403/03/07</h4>
            <div class="NameImage">
                <div><img src="{% static 'images/course.jpg' %}" alt=""/></div>
                <div>
                    <h1>دوره ی فیزیک</h1>
                    <h2>
                        لورم ایپسوم متن ساختگی با تقلید سادگی نامغهوم از صنعت چاپ و با
                    </h2>
                </div>
            </div>
            <div class="Infos">
                <h3>مدرس : استاد</h3>
                <div>
                    <h3>قسط پرداخت شده : 10</h3>
                    <h3>قسط باقی مانده : 30</h3>
                </div>
            </div>
            <div class="Buttons">
                <button>پرداخت قسط</button>
                <button>ادامه ی دوره</button>
            </div>
        </div>

        <div class="card">
            <h4 class="date">1403/03/07</h4>
            <div class="NameImage">
                <div><img src="{% static 'images/course.jpg' %}" alt=""/></div>
                <div>
                    <h1>دوره ی فیزیک</h1>
                    <h2>
                        لورم ایپسوم متن ساختگی با تقلید سادگی نامغهوم از صنعت چاپ و با
                    </h2>
                </div>
            </div>
            <div class="Infos">
                <h3>مدرس : استاد</h3>
                <div>
                    <h3>قسط پرداخت شده : 10</h3>
                    <h3>قسط باقی مانده : 30</h3>
                </div>
            </div>
            <div class="Buttons">
                <button>پرداخت قسط</button>
                <button>ادامه ی دوره</button>
            </div>
        </div>
    </main>
</div>
<script src="{% static 'JS/BoughtCourses.js' %}"></script>
</body>
</html>
