{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{% static 'css/BoughtCourses.css' %}"/>
    <title>Panel</title>
</head>
<body>
<div class="wrapper">
    <nav dir="rtl">
        <div dir="rtl" class="links">
            <a href="{% url 'home:home' %}">خانه</a>
            <a href="">دوره ها</a>
            <a href="">کتابخانه</a>
        </div>

        <div class="leftSide">
        </div>
        <div class="mob">
            <button onclick="dropdown2()" class="dropDownButton">
                پنل کاربری
            </button>
            <div>
                <a href="{% url 'panel:course' %}" class="dropDownLinks">دوره ها</a>
            </div>
            <div>
                <a href="" class="dropDownLinks"
                >تراکنش های اخیر</a
                >
            </div>
            <div><a href="{% url 'panel:basket' %}" class="dropDownLinks">سبد خرید</a></div>
            {% if request.user.user_student.is_information_submited %}
                <div class="SideCard"><a href="{% url 'home:home' %}">اطلاعات کاربر</a></div>
            {% else %}
                <div class="SideCard"><a href="{% url 'panel:userInfo' %}">تکمیل اطلاعات کاربری</a></div>
            {% endif %}

        </div>
    </nav>
    <aside>
        <div>
            <img src="{% static 'images/account.png' %}" alt=""/>
            {% if request.user.first_name %}
                <h1>{{ request.user.first_name }}</h1>
            {% else %}
                <h1>{{ request.user.user_student.username }}</h1>
            {% endif %}
            <a href="" class="change">ویرایش اکانت</a>
            <div class="SideCard Active">
                <a href="#">دوره ها</a>
            </div>
            <div class="SideCard">
                <a href="{% url 'panel:lastOrder' %}">تراکنش های اخیر</a>
            </div>
            <div class="SideCard"><a href="{% url 'panel:basket' %}">سبد خرید</a></div>
            {% if request.user.user_student.is_information_submited %}
                <div class="SideCard"><a href="{% url 'home:home' %}">اطلاعات کاربر</a></div>
            {% else %}
                <div class="SideCard"><a href="{% url 'panel:userInfo' %}">تکمیل اطلاعات کاربری</a></div>
            {% endif %}
            {% if request.user.user_student.super_student_user %}
                <div class="SideCard"><a href="">ثبت نام در مدرسه</a></div>
                {% comment %}   todo --> change href and create panel for that
                {% endcomment %}
            {% endif %}
            <br>
            <br>
            <br>
            <div class="SideCard Active" style="background-color: #ff3939"><a style="color: white;font-weight: bold"
                                                                              href="{% url 'account:logout' %}">خروج</a>
            </div>

        </div>
    </aside>
    <main>
        <div class="card">
            <h4 class="date">1403/03/07</h4>
            <div class="NameImage">
                <div><img src="{% static 'images/course.jpg' %}" alt=""/></div>
                <div>
                    <h1>دوره ی فیزیک</h1>
                    <h2>
                        لورم ایپسوم متن ساختگی با تقلید سادگی نامغهوم از صنعت چاپ و با
                    </h2>
                </div>
            </div>
            <div class="Infos">
                <h3>مدرس : استاد</h3>
                <div>
                    <h3>قسط پرداخت شده : 10</h3>
                    <h3>قسط باقی مانده : 30</h3>
                </div>
            </div>
            <div class="Buttons">
                <button>پرداخت قسط</button>
                <button>ادامه ی دوره</button>
            </div>
        </div>

        <div class="card">
            <h4 class="date">1403/03/07</h4>
            <div class="NameImage">
                <div><img src="{% static 'images/course.jpg' %}" alt=""/></div>
                <div>
                    <h1>دوره ی فیزیک</h1>
                    <h2>
                        لورم ایپسوم متن ساختگی با تقلید سادگی نامغهوم از صنعت چاپ و با
                    </h2>
                </div>
            </div>
            <div class="Infos">
                <h3>مدرس : استاد</h3>
                <div>
                    <h3>قسط پرداخت شده : 10</h3>
                    <h3>قسط باقی مانده : 30</h3>
                </div>
            </div>
            <div class="Buttons">
                <button>پرداخت قسط</button>
                <button>ادامه ی دوره</button>
            </div>
        </div>

        <div class="card">
            <h4 class="date">1403/03/07</h4>
            <div class="NameImage">
                <div><img src="{% static 'images/course.jpg' %}" alt=""/></div>
                <div>
                    <h1>دوره ی فیزیک</h1>
                    <h2>
                        لورم ایپسوم متن ساختگی با تقلید سادگی نامغهوم از صنعت چاپ و با
                    </h2>
                </div>
            </div>
            <div class="Infos">
                <h3>مدرس : استاد</h3>
                <div>
                    <h3>قسط پرداخت شده : 10</h3>
                    <h3>قسط باقی مانده : 30</h3>
                </div>
            </div>
            <div class="Buttons">
                <button>پرداخت قسط</button>
                <button>ادامه ی دوره</button>
            </div>
        </div>

        <div class="card">
            <h4 class="date">1403/03/07</h4>
            <div class="NameImage">
                <div><img src="{% static 'images/course.jpg' %}" alt=""/></div>
                <div>
                    <h1>دوره ی فیزیک</h1>
                    <h2>
                        لورم ایپسوم متن ساختگی با تقلید سادگی نامغهوم از صنعت چاپ و با
                    </h2>
                </div>
            </div>
            <div class="Infos">
                <h3>مدرس : استاد</h3>
                <div>
                    <h3>قسط پرداخت شده : 10</h3>
                    <h3>قسط باقی مانده : 30</h3>
                </div>
            </div>
            <div class="Buttons">
                <button>پرداخت قسط</button>
                <button>ادامه ی دوره</button>
            </div>
        </div>
    </main>
</div>
<script src="{% static 'JS/BoughtCourses.js' %}"></script>
</body>
</html>
