{% load static %}
{% load jalali_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="{% static 'JS/node_modules/persian-datepicker/dist/js/persian-datepicker.js' %}"></script>
    <script src="assets/JS/node_modules/jquery/dist/jquery.js"></script>
    <script src="assets/JS/node_modules/persian-date/dist/persian-date.js"></script>
    <link rel="stylesheet" href="{% static 'css/info.css' %}"/>
    <title>اطلاعات کاربری</title>
</head>
<body>
<div class="wrapper">
    <nav dir="rtl">
        <div dir="rtl" class="links">
            <a href="{% url 'home:home' %}">خانه</a>
            <a href="">دوره ها</a>
            <a href="">کتابخانه</a>
        </div>

        <div class="leftSide">
            <div class="dropDown">
                اندیشه پارسیان
            </div>
        </div>
        <div class="mob">
            <button onclick="dropdown2()" class="dropDownButton">
                پنل کاربری
            </button>
            <div>
                <a href="{% url 'panel:course' %}" class="dropDownLinks">دوره ها</a>
            </div>
            <div>
                <a href="{% url 'panel:lastOrder' %}" class="dropDownLinks"
                >تراکنش های اخیر</a>
            </div>
            <div><a href="{% url 'panel:basket' %}" class="dropDownLinks">سبد خرید</a></div>
        </div>
    </nav>
    <aside>
        <div>
            <img src="{% static '/images/account.png' %}" alt=""/>
            {% if request.user.first_name %}
                <h1>{{ request.user.first_name }}</h1>
            {% else %}
                <h1>{{ request.user.user_student.username }}</h1>
            {% endif %}
            <a href="" class="change">ویرایش اکانت</a>
            <div class="SideCard">
                <a href="{% url 'panel:course' %}">دوره ها</a>
            </div>
            <div class="SideCard">
                <a href="{% url 'panel:lastOrder' %}">تراکنش های اخیر</a>
            </div>
            <div class="SideCard"><a href="{% url 'panel:basket' %}">سبد خرید</a></div>
            <div class="SideCard Active" style="background-color: white"><a style="color: rgb(43, 62, 177);"
                                                                            href="{% url 'panel:userInfo' %}">تکمیل
                اطلاعات کاربری</a></div>
            {% if request.user.user_student.super_student_user %}
                <div class="SideCard"><a href="">ثبت نام در مدرسه</a></div>
                {% comment %}   todo --> change href and create panel for that
                {% endcomment %}
            {% endif %}
            <br>
            <br>
            <br>
            <div class="SideCard Active" style="background-color: #ff3939"><a style="color: white;font-weight: bold"
                                                                              href="{% url 'account:logout' %}">خروج</a>
            </div>
        </div>
    </aside>
    <main>
        <h1 style="margin-bottom: 40px">اطلاعات کاربری خود را وارد کنید</h1>
        <form method="post">
            <div>
                <label for="name">نام</label>
                <input type="text" id="name" name="name"/>
                <label for="lastName">نام خانوادگی</label>
                <input type="text" id="lastName" name="lastName"/>
            </div>
            <div>
                <p>{{ request.user.date_joined|to_jalali:'%y/%m/%d _ %H:%M:%S' }}</p>
                <label for="BD">تاریخ تولد</label>
                <input id="BD" type="date" class="date-input" name="BD"/>
                <label for="grade">مقطع تحصیلی</label>
                <select name="grade" id="grade">
                    <option value="">متوسطه اول</option>
                    <option value="">متوسطه دوم</option>
                </select>
            </div>
            <div>
                <label for="paye">پایه تحصیلی</label>
                <select id="paye" name="paye">
                    <option value="نهم">نهم</option>
                    <option value="دهم">دهم</option>
                    <option value="یازدهم">یازدهم</option>
                    <option value="دوازدهم">دوازدهم</option>
                </select>
                <label for="reshte">رشته تحصیلی</label>
                <select name="reshte" id="reshte">
                    <option value="">ریاضی</option>
                    <option value="">تجربی</option>
                    <option value="">انسانی</option>
                </select>
            </div>
            <div>
                <label for="IDCode">کد ملی</label>
                <input type="tel" name="IDCode" id="IDCode">
                <label for="babash">نام پدر</label>
                <input type="text" name="babash" id="babash">
            </div>
            <div>
                <label for="mamanesh">نام و نام خانوادگی مادر</label>
                <input type="text" name="mamanesh" id="mamanesh">
                <label for="Khoone">آدرس منزل</label>
                <textarea name="Khoone" id="Khoone"></textarea>
            </div>
            <div>
                <label for="babashPhone">شماره تلفن پدر</label>
                <input type="text" name="babashPhone" id="babashPhone">
                <label for="mamaneshPhone">شماره تلفن مادر</label>
                <input type="text" name="mamaneshPhone" id="mamaneshPhone">
            </div>
            <div>
                <label for="KarBabash">شغل پدر</label>
                <input type="text" name="KarBabash" id="KarBabash">
                <label for="KarMommy">شغل مادر</label>
                <input type="text" name="KarMommy" id="KarMommy">
            </div>
            <div>
                <label for="TahsilBabash">تحصیلات پدر</label>
                <input type="text" name="TahsilBabash" id="TahsilBabash">
                <label for="TahsilMommy">تحصیلات مادر</label>
                <input type="text" name="TahsilMommy" id="TahsilMommy">
            </div>
            <div>
                <label for="AddressBabash">آدرس شغل مادر</label>
                <textarea name="AddressBabash" id="AddressBabash"></textarea>
                <label for="AddressMommy">آدرس شغل پدر</label>
                <textarea name="AddressMommy" id="AddressMommy"></textarea>
            </div>
            <div>
                <label for="DarsBabash">شماره شناسنامه پدر:</label>
                <input type="text" id="DarsBabash" name="DarsBabash">
                <label for="DarsMommy">شماره شناسنامه مادر</label>
                <input type="text" id="DarsMommy" name="DarsMommy">
            </div>
            <div>
                <label for="DarsKharBeraresh">تحصیلات خواهر یا برادر</label>
                <textarea name="DarsKharBeraresh" id="DarsKharBeraresh"></textarea>
            </div>
            <button type="submit">ثبت</button>
        </form>
    </main>
</div>
<script src="{% static 'JS/info.js' %}"></script>
</body>
</html>
