{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{% static '/css/LatestTransitions.css' %}">
    <title>Panel</title>
</head>
<body>
<div class="wrapper">
    {% include 'panel/navbar.html' %}
    {% include 'panel/aside.html' %}
    <main>
        <div>
            <h1>تراکنش های اخیر</h1>
            <button>اردیبهشت</button>
        </div>
        <table dir="rtl">
            <tr>
                <th>مبلغ</th>
                <th>وضعیت پرداخت</th>
                <th>درگاه پرداخت</th>
                <th>نام آیتم</th>
                <th>تاریخ</th>
            </tr>
            <tr>
                <td>10میلیون تومان</td>
                <td class="incomplete">
                    <p>تکمیل نشده است </p>
                    <div></div>
                </td>
                <!--  -->
                <td>زرین پال</td>
                <td>دوره فیزیک</td>
                <td>03/03/1403</td>
            </tr>
            <tr>
                <td>10میلیون تومان</td>
                <td class="incomplete">
                    <p>تکمیل نشده است </p>
                    <div></div>
                </td>
                <!--  -->
                <td>زرین پال</td>
                <td>دوره فیزیک</td>
                <td>03/03/1403</td>
            </tr>
            <tr>
                <td>10میلیون تومان</td>
                <td class="incomplete">
                    <p>تکمیل نشده است </p>
                    <div></div>
                </td>
                <!--  -->
                <td>زرین پال</td>
                <td>دوره فیزیک</td>
                <td>03/03/1403</td>
            </tr>
            <tr>
                <td>10میلیون تومان</td>
                <td class="incomplete">
                    <p>تکمیل نشده است </p>
                    <div></div>
                </td>
                <!--  -->
                <td>زرین پال</td>
                <td>دوره فیزیک</td>
                <td>03/03/1403</td>
            </tr>
            <tr>
                <td>10میلیون تومان</td>
                <td class="incomplete">
                    <p>تکمیل نشده است </p>
                    <div></div>
                </td>
                <!--  -->
                <td>زرین پال</td>
                <td>دوره فیزیک</td>
                <td>03/03/1403</td>
            </tr>
            <tr>
                <td>10میلیون تومان</td>
                <td class="incomplete">
                    <p>تکمیل نشده است </p>
                    <div></div>
                </td>
                <!--  -->
                <td>زرین پال</td>
                <td>دوره فیزیک</td>
                <td>03/03/1403</td>
            </tr>
            <tr>
                <td>10میلیون تومان</td>
                <td class="incomplete">
                    <p>تکمیل نشده است </p>
                    <div></div>
                </td>
                <!--  -->
                <td>زرین پال</td>
                <td>دوره فیزیک</td>
                <td>03/03/1403</td>
            </tr>
            <tr>
                <td>10میلیون تومان</td>
                <td class="incomplete">
                    <p>تکمیل نشده است </p>
                    <div></div>
                </td>
                <!--  -->
                <td>زرین پال</td>
                <td>دوره فیزیک</td>
                <td>03/03/1403</td>
            </tr>
            <tr>
                <td>10میلیون تومان</td>
                <td class="incomplete">
                    <p>تکمیل نشده است </p>
                    <div></div>
                </td>
                <!--  -->
                <td>زرین پال</td>
                <td>دوره فیزیک</td>
                <td>03/03/1403</td>
            </tr>
            <tr>
                <td>10میلیون تومان</td>
                <td class="incomplete">
                    <p>تکمیل نشده است </p>
                    <div></div>
                </td>
                <!--  -->
                <td>زرین پال</td>
                <td>دوره فیزیک</td>
                <td>03/03/1403</td>
            </tr>
            <tr>
                <td>10میلیون تومان</td>
                <td class="incomplete">
                    <p>تکمیل نشده است </p>
                    <div></div>
                </td>
                <!--  -->
                <td>زرین پال</td>
                <td>دوره فیزیک</td>
                <td>03/03/1403</td>
            </tr>
            <tr>
                <td>10میلیون تومان</td>
                <td class="incomplete">
                    <p>تکمیل نشده است </p>
                    <div></div>
                </td>
                <!--  -->
                <td>زرین پال</td>
                <td>دوره فیزیک</td>
                <td>03/03/1403</td>
            </tr>
        </table>
    </main>
</div>
<script src="{% static 'JS/LatestTransitions.js' %}"></script>
</body>
</html>
