{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{% static 'css/ShowInfo.css' %}"/>
    <title>اطلاعات کاربر</title>
</head>
<body>
<div class="wrapper">
    <nav dir="rtl">
        <div dir="rtl" class="links">
            <a href="{% url 'home:home' %}">خانه</a>
            <a href="{% url 'course:course' %}">دوره ها</a>
            <a href="#">آموزشگاه</a>
        </div>

        <div class="leftSide">
            <div class="dropDown">
                اندیشه پارسیان
            </div>
        </div>
        <div class="mob">
            <button onclick="dropdown2()" class="dropDownButton">
                پنل کاربری
            </button>
            <div>
                <a href="{% url 'panel:course' %}" class="dropDownLinks">دوره ها</a>
            </div>
            <div>
                <a href="{% url 'panel:lastOrder' %}" class="dropDownLinks"
                >تراکنش های اخیر</a>
            </div>
            <div><a href="{% url 'panel:basket' %}" class="dropDownLinks">سبد خرید</a></div>
        </div>
    </nav>
    <aside>
        <div>
            <img src="{% static '/images/account.png' %}" alt=""/>
            {% if request.user.first_name %}
                <h1>{{ request.user.first_name }}</h1>
            {% else %}
                <h1>{{ request.user.user_student.username }}</h1>
            {% endif %}
            <a href="{% url 'panel:changePassword' %}" class="change">ویرایش رمز عبور</a>
            <div class="SideCard">
                <a href="{% url 'panel:course' %}">دوره ها</a>
            </div>
            <div class="SideCard">
                <a href="{% url 'panel:lastOrder' %}">تراکنش های اخیر</a>
            </div>
            <div class="SideCard"><a href="{% url 'panel:basket' %}">سبد خرید</a></div>
            <div class="SideCard Active" style="background-color: white"><a style="color: rgb(43, 62, 177);"
                                                                            href="{% url 'panel:userInfo' %}">اطلاعات
                کاربر</a></div>
            {% if request.user.user_student.super_student_user %}
                <div class="SideCard"><a href="">ثبت نام در مدرسه</a></div>
                {% comment %}   todo --> change href and create panel for that
                {% endcomment %}
            {% endif %}
            <br>
            <br>
            <br>
            <div class="SideCard Active" style="background-color: #ff3939"><a style="color: white;font-weight: bold"
                                                                              href="{% url 'account:logout' %}">خروج</a>
            </div>
        </div>
    </aside>
    <main>
        <h1 style="margin-bottom: 40px">اطلاعات کاربری دانش آموز</h1>
        <form method="post">
            <div>
                <label for="name">نام</label>
                <input readonly type="text" id="name" value="{{ user_student.first_name }}" name="name"/>
                <label for="lastName">نام خانوادگی</label>
                <input readonly type="text" id="lastName" value="{{ user_student.last_name }}" name="lastName"/>
            </div>
            <div>
                <label for="BD">تاریخ تولد</label>
                <input readonly id="BD" type="text" value="{{ user_student.user_birthday_date }}" name="BD"/>
                <label for="grade">مقطع تحصیلی</label>
                {% for maghta in user_student.SECTION %}
                    {% if user_student.section == maghta.0 %}
                        <input readonly name="grade" value="{{ maghta.1 }}" id="grade">

                    {% endif %}
                {% endfor %}
            </div>
            <div>
                <label for="paye">پایه تحصیلی</label>
                {% for paye in user_student.GRADE %}
                    {% if user_student.grade == paye.0 %}
                        <input id="paye" name="paye" value="{{ paye.1 }}"></input>
                    {% endif %}
                {% endfor %}


                <label for="reshte">رشته تحصیلی</label>
                {% for reshte in user_student.STUDY %}
                    {% if user_student.field_of_study == reshte.0 %}
                        <input readonly name="reshte" id="reshte" value="{{ reshte.1 }}"></input>

                    {% endif %}
                {% endfor %}

            </div>
            <div>
                <label for="IDCode">کد ملی</label>
                <input readonly type="tel" name="IDCode" value="{{ user_student.student_code_id }}" id="IDCode">
                <label for="babash">نام پدر</label>
                <input readonly type="text" name="babash" value="{{ user_student.father_name }}" id="babash">
            </div>
            <div>
                <label for="mamanesh">نام و نام خانوادگی مادر</label>
                <input readonly type="text" name="mamanesh" value="{{ user_student.mother_name }}" id="mamanesh">
                <label for="Khoone">آدرس منزل</label>
                <textarea readonly name="Khoone" id="Khoone">{{ user_student.address }}</textarea>
            </div>
            <div>
                <label for="babashPhone">شماره تلفن پدر</label>
                <input readonly type="text" name="babashPhone" value="{{ user_student.father_phone }}" id="babashPhone">
                <label for="mamaneshPhone">شماره تلفن مادر</label>
                <input readonly type="text" name="mamaneshPhone" value="{{ user_student.mother_phone }}"
                       id="mamaneshPhone">
            </div>
            <div>
                <label for="KarBabash">شغل پدر</label>
                <input readonly type="text" name="KarBabash" value="{{ user_student.father_job }}" id="KarBabash">
                <label for="KarMommy">شغل مادر</label>
                <input readonly type="text" name="KarMommy" value="{{ user_student.mother_job }}" id="KarMommy">
            </div>
            <div>
                <label for="TahsilBabash">تحصیلات پدر</label>
                <input readonly type="text" name="TahsilBabash" value="{{ user_student.father_education }}"
                       id="TahsilBabash">
                <label for="TahsilMommy">تحصیلات مادر</label>
                <input readonly type="text" name="TahsilMommy" value="{{ user_student.mother_education }}"
                       id="TahsilMommy">
            </div>
            <div>
                <label for="AddressBabash">آدرس شغل مادر</label>
                <textarea readonly name="AddressBabash"
                          id="AddressBabash">{{ user_student.job_mother_address }}</textarea>
                <label for="AddressMommy">آدرس شغل پدر</label>
                <textarea readonly name="AddressMommy"
                          id="AddressMommy">{{ user_student.job_father_address }}</textarea>
            </div>
            <div>
                <label for="DarsBabash">شماره شناسنامه پدر:</label>
                <input readonly type="text" value="{{ user_student.father_serial_number }}" id="DarsBabash"
                       name="DarsBabash">
                <label for="DarsMommy">شماره شناسنامه مادر</label>
                <input readonly type="text" id="DarsMommy" value="{{ user_student.mother_serial_number }}"
                       name="DarsMommy">
            </div>
            <div>
                <label for="DarsKharBeraresh">تحصیلات خواهر یا برادر</label>
                {% if user_student.sibling_education %}
                    <textarea readonly name="DarsKharBeraresh"
                              id="DarsKharBeraresh">{{ user_student.sibling_education }}</textarea>
                {% else %}
                    <textarea readonly name="DarsKharBeraresh" id="DarsKharBeraresh">اطلاعاتی وجود ندارد</textarea>

                {% endif %}
            </div>

        </form>
    </main>
</div>
<script src="{% static 'JS/showInfo.js' %}"></script>
</body>
</html>
