{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ارتباط با مدیر</title>
    <link rel="stylesheet" href="{% static 'css/ContactUs.css' %}">
</head>
<body>
<header>
    <nav dir="rtl">
        <div dir="rtl" class="links">
            <a href="">خانه</a>
            <a href="">دوره ها</a>
            <a href="">کتابخانه</a>
        </div>
        <h1><a href="{% url 'home:home' %}">اندیشه پارسیان</a></h1>
    </nav>
</header>
<main>
    <div class="left">
        <h1 style="font-weight: bold;font-size: 40px;margin-bottom: 20px">ارتباط با مدیر مدرسه</h1>
        <form method="post">
            {% csrf_token %}
            <h1 class="error_message" >{{ errors.0 }}</h1>

            <div>
                <input name="name" style="margin-left: 356px;" type="text" id="name" placeholder="نام">
            </div>
            <div>
                <input name="subject" type="text" id="subject" placeholder="موضوع">
                <textarea name="message" id="" placeholder="پیام شما"></textarea>
            </div>
            <button type="submit" style="background-color: rgb(43, 62, 177);">ارسال</button>
            {% if message.0 == "Successfully" %}
                <h1 class="success_result" style="font-size: 30px">موفقیت
                    آمیز بود </h1>
            {% endif %}
        </form>
    </div>
    <div class="right">
        <div>
            <h1>اطلاعات تماس</h1>
        </div>
        <div>
            <h1>0990-990-9090</h1>
            <h2>شماره تلفن</h2>
        </div>
        <div>
            <h1>info@gmail.com</h1>
            <h2>آدرس ایمیل</h2>
        </div>
        <div>
            <h1>جیرفت،خیابان فلان،کوچه فلان ، مدرسه اندیشه پارسیان</h1>
            <h2>آدرس مدرسه</h2>
        </div>
    </div>
</main>

<!-- <footer>
  <div class="SocialLinks">
    <a href="" class="telegram">تلگرام</a>
    <a href="" class="instagram">اینستاگرام</a>
    <a href="" class="twitter">توییتر</a>
  </div>
  <div>
    <div class="ManagerInformation">
      <h2 class="ManagerName">نام مدیر: <span>لورم ایپسوم</span></h2>
      <h2 class="SchoolPhoneNumber">شماره تماس : <span>09999999999</span></h2>
    </div>
    <div class="SchoolAddress" dir="rtl">آدرس مدرسه : <span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از</span></div>
    <div class="CopyRight">COPYRIGHT 2024 <span> Amir Mashayekhi </span></div>
  </div>
</footer>
</body>
</html>